{% extends 'base.html' %}

{% block styles %}
{% endblock %}

{% block title %}
<h5>Django App</h5>
{% endblock %}


{% block content %}
<h2>Todo List</h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input-group mb-3">
        <input type="hidden" name="todo_id" value="{{ Djangohw.todo_id }}" />
        <input type="text" name="todo" class="form-control" placeholder="想要做什麼~" aria-label="Recipient's username" aria-describedby="button-addon2" required >
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">送出</button>
    </div>
</form>

<table id="table1" class="table">
    <thead>
        <tr>
            <th>狀態</th>
            <th>待做事項</th>
            <th>編輯</th>
        </tr>
    </thead>
    <tbody>
        {% for list in alltodo %}
        <tr>
            <td>
                <form method="POST" action="{% url 'djangoHW:edit' list.todo_id %}">
                    {% csrf_token %}    
                    <input type="hidden" name="todo_id" value="{{ list.todo_id }}">
                    <input type="checkbox" name="completed" {% if list.completed %}checked{% endif %} onclick="this.form.submit()"> 
                    {% if list.completed %}
                        已完成
                    {% else %}
                        未完成
                    {% endif %}
                    <!-- <input type="checkbox" name="completed" unchecked>未完成 -->
                </form>
            </td>
            <td>{{ list.todo }}</td>
            <td><a href="{% url 'djangoHW:delete' list.todo_id %}" class="btn btn-danger" onclick="return confirm('確定要刪除嗎~')">刪除</a>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}


{% block scripts %}
<script>

</script>
{% endblock %}


